/* DEFINIÇÃO DA COR DA WEB PAGE E DO TIPO DE LETRA */
body {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    background-color:#e0d3de;
    color:#454851;
    height: 7000px;  
}

/* IMAGEM DA PÁGINA INICIAL */
.initialpage {
    background-position: top;
    background-repeat: no-repeat;
    background-size: cover;
    margin-top: 2.70cm;
}

/* PARA ADICIONAR O FUNDO ESCURO AO TOPO DA BARRA DE NAVEGAÇÃO */
.topnav {
    background-color: #454851;
    box-shadow: white;
    overflow: hidden;
    height: 2.5cm;
    position: absolute; /* fixed - FAZ COM QUE O MENU SEJA FIXO */
    top: 0; /* POSICIONA O MENU NO TOPO DA PÁGINA */
    left: 0;
    width: 100%;
}
  
/* PARA ESTILIZAR OS LINKS DA BARRA DE NAVEGAÇÃO */
.topnav a {
    float: left;
    transform: translate(0%, +50%);
    color: #e0d3de;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
}

/* NOME DO WEB SITE - CENTRADO */
.topnav-centered a {
    float: none;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    color: #b3b492;
    font-size: 60px;
    font-weight: bold;
  }
  
/* LADO DIREITO DA BARRA DE NAVEGAÇÃO */
.topnav-right {
    float: right;
}

/* TÍTULO PRINCIPAL */
.who {
    font-size: 23px; 
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: #3c3e44;
    
    float: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
    text-align: center;
}

/* DEFINIR ALGUMAS PROPRIEDADES DO TEXTO */
.text {
    font-size: 17px;
    font-family: Verdana, Geneva, Tahoma, sans-serif; 
    color: black;
    
    float: none;
    position: absolute;
    left: 50%;
    transform: translate(-50%, 0%);
}

/* FORMATAÇÃO DAS IMAGENS */
.we{
    align-content: center;
    width:350px;
}

/* DEFINIÇÃO DE ALGUMAS PROPRIEDADES IMPORTANTES DA TABELA*/
table{
    padding-top: 150px;
    box-align: center;
    border-spacing: 270px 20px;
}

th, td{
    width: 150px;
    border: 0px;
    
    text-align: center;
    color: black;
}